[submodule "external/OpenReal2Sim"]
	path = external/OpenReal2Sim
	url = https://github.com/LV-Robotics-Lab/OpenReal2Sim.git
	branch = integration/self-improving
[submodule "external/digital-cousins"]
	path = external/digital-cousins
	url = https://github.com/LV-Robotics-Lab/digital-cousins.git
	branch = integration/self-improving
[submodule "external/MetaSim"]
	path = external/MetaSim
	url = https://github.com/RoboVerseOrg/MetaSim.git
[submodule "external/genesis-world"]
	path = external/genesis-world
	url = https://github.com/Genesis-Embodied-AI/genesis-world.git
[submodule "external/SimFoundry"]
	path = external/SimFoundry
	url = https://github.com/NVlabs/SimFoundry.git
